# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

DT_COMPAT_ZMK_INPUT_PROCESSOR_GESTURES := zmk,input-processor-gestures

config ZMK_INPUT_PROCESSOR_GESTURES
		bool
		default $(dt_compat_enabled,$(DT_COMPAT_ZMK_INPUT_PROCESSOR_GESTURES))
        depends on ZMK_POINTING
        depends on (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)

config INPUT_GESTURES_INIT_PRIORITY
    int "Touchpad gestures initialization priority"
    default INPUT_INIT_PRIORITY
    depends on ZMK_INPUT_PROCESSOR_GESTURES
